
<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  
  # Check if the request starts with /vue3/
  RewriteCond %{REQUEST_URI} ^/
  # Rewrite the request to /vue3/index.html
  RewriteRule ^(.*)$ /index.html [L]
  
  #RewriteCond %{REQUEST_FILENAME} !-f
  #RewriteCond %{REQUEST_FILENAME} !-d
  #RewriteRule . /index.html [L]
</IfModule>
